<p-table [columns]="cols" [value]="cars">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
              <p-dropdown *ngIf="col.field=='color'" [(ngModel)]="car[col.field]" [options]="car['colors']" optionLabel="name"></p-dropdown>     
              <span *ngIf="col.field!='color'"> {{car[col.field]}}</span>         
            </td>
        </tr>
    </ng-template>
</p-table>